.img {
  height: 500px;
  width: 400px;
  padding-left: 200px;
}
.con {
  display: flex;
  margin: 10px 80px 30px 30px;
}
.aa {
  border: none;
}
.btn {
  border: none;
  margin-left: 50px;
  cursor: pointer;
}
p {
  /* margin-top: 10px 0px 0px 0px; */
  margin-bottom: 5px;
  font-size: 15px;
}
.setvalue {
  /* margin-top: 1px; */
  /* margin-top: 0.1px;
  padding-top: 0.1px; */
  border: none;
  background-color: #ffefcb;
  border-color: #ffefcb;
}
.flex-container {
  display: flex;
  justify-content: space-around;
}
.flex-container > button {
  margin: 15px;
  text-align: center;
}
.btn-submit {
  background-color: #0275d8;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
.btn-reset {
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
